/*PÁGINA INICIAL*/

.btn {
    font-size:14px;
    font-family: marker felt;
    width:110px;
    height: 35px;
    border-width:1px;
    color:black;
    border-color: pink;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 2px 2px 2px 2px #F29580;
    text-shadow:inset 0px 1px 0px 0px black;
    margin: 10px 100px 10px 60px; 
    }
    
    
.btn:hover {
    background:linear-gradient(#4E2559 , #F29580);
    }

.botão{
    display:flex;
    flex:space-evenly;
}

/* DETALHES */

#linha-horizontal {
    width: auto;
    border: 1px solid purple;
    display: flex;

}

h1, h2{
    color: white; 
    font-size: 30px;
    text-align:center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeWUV36pP8TwEMrsNfqv3GZ1_2OzgIIvtjOQ&usqp=CAU);
}

/* PÁGINA SOBRE MIM */

img{    
    border: 1px double #F5F5F5;
}

.perfil{
    text-align: center;
}

.nome{
    color: #141726;
    font-family: verdana;
    font-size: 30px;
}

.profissão{
    color: #141726;
    font-family: verdana;
    font-size: 20px;
}

.apresentação{
    color: #141726;
    font-size: 19px;
}

.hobbies{
    color: #141726;
    font-size: 19px;
}



/*PÁGINA CONTATOS*/
ul {
    color: #141726;
    font-family: verdana;
    font-size: 20px;
}

/*PÁGINA EXPERIENCIA*/

.empresa1 {
    font-size: 30px;
}

.cargo1{
    font-size: 23px;
}

.tempo1{
    font-size: 20px;
}

.experiencia{
    font-size: 18px;
}



/*PÁGINA FORMAÇÃO*/

.escola1{
    font-size:27px;
    text-align: center;
}

.curso1{
    font-size: 23px;
    text-align: center;
}

.duração1{
    font-size:20px;
    text-align: center;
}

/* PÁGINA DO PORTFÓLIO */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    margin: 25px 50px 75px 500px;

}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    align-items:ce;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: white;
    color: black;
}

.flip-card-back {
    background-color: #FFE4E1;
    color: black;
    transform: rotateY(180deg);
}




