/*PÁGINA SOBRE MIM*/

.btn {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#ffffff;
    border-color:#a511c0;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #e184f3;
    text-shadow:inset 0px 1px 0px 0px #9b14b3;
    background-color:transparent;  
    margin: 2px 140px 6px 140px; 
    }
    
    
.btn:hover {
    background:linear-gradient(#c123de, #a20dbd);
    }

.botão{
    text-align: center;
}

img{
    border-radius: 100%;
    border: 2px double purple;
    }

body{
    background-color: #DDA0DD;
}

.perfil{
    background-color: #D8BFD8;
    text-align: center;
}

.nome{
    color: black;
    font-family: verdana;
    font-size: 30px;
}

.profissão{
    color:black;
    font-family: verdana;
    font-size: 20px;
}

.apresentação, .hobbies{
    color:black;
    font-size: 19px;
}

    h1, h2{
        color: purple;
        font-size: 30px;
    }

/*PÁGINA CONTATOS*/
ul {
    color:black;
    font-family: verdana;
    font-size: 20px;
}

/*PÁGINA EXPERIENCIA*/

.empresa1 {
    font-size: 30px;
}

.cargo1{
    font-size: 23px;
}

.tempo1{
    font-size: 20px;
}

.experiencia{
    font-size: 18px;
}



/*PÁGINA FORMAÇÃO*/

.escola1{
    font-size:30px;
}

.curso1{
    font-size: 23px;
}

.duração1{
    font-size:20px;
}